<div class="container-fluid" style="background-color:aquamarine">
    <div class="container" style="color:white; padding-bottom: 5px;padding-top: 5px;">
        <h1>Welcome to E-Stores</h1>
    </div>

    <div>
        <h2 style = 'color:black;'>PHONES</h2></div>
    <div class="row">
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="https://m.media-amazon.com/images/I/71AvQd3VzqL._SX679_.jpg" alt="Phones" class="img-responsive">
                <div class="caption">
                    <h3>OnePlus Nord CE 2 Lite 5G</h3>
                    <p><b>Price</b> Rs 19,999</p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                    <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']" 
                    class="btn btn-block btn-success">Add to cart</a>       
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="https://m.media-amazon.com/images/I/91W42b8YW+L._SX679_.jpg" alt="Phones" class="img-responsive">
                <div class="caption">
                    <h3>Samsung Galaxy A23 Blue</h3>
                    <p><b>Price</b> Rs 23,990</p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                    <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                    class="btn btn-block btn-success">Add to cart</a>       
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="https://m.media-amazon.com/images/I/71GLMJ7TQiL._SX679_.jpg" alt="Phones" class="img-responsive">
                <div class="caption">
                    <h3>Apple iPhone 13 (256GB) - Starlight</h3>
                    <p><b>Price</b> Rs 89,900</p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                    <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                    class="btn btn-block btn-success">Add to cart</a>       
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="https://m.media-amazon.com/images/I/81NvjiVE6jL._SX679_.jpg" alt="Phones" class="img-responsive">
                <div class="caption">
                    <h3>OPPO F21 Pro</h3>
                    <p><b>Price</b> Rs 27,900</p>
                    <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                    <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                    class="btn btn-block btn-success">Add to cart</a>       
                </div>
            </div>
        </div>
        <div class="s1"></div>
        <div>
            <h2 style = 'color:black;'>TABLETS</h2></div>
        <div class="row">
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="https://m.media-amazon.com/images/I/81Y5WuARqpS._SX679_.jpg" alt="tabs" class="img-responsive">
                    <div class="caption">
                        <h3>Apple iPad Pro</h3>
                        <p><b>Price</b> Rs 71,990</p>
                        <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                        <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                        class="btn btn-block btn-success">Add to cart</a>       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="https://m.media-amazon.com/images/I/814AjiAo5GL._SX679_.jpg" alt="tabs" class="img-responsive">
                    <div class="caption">
                        <h3>Lenovo Tab Yoga Smart Tablet</h3>
                        <p><b>Price</b> Rs 35,500</p>
                        <p><a href="#" role="button" class="btn btn-primary btn-block">Buy Now</a></p>
                        <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                        class="btn btn-block btn-success">Add to cart</a>       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="https://m.media-amazon.com/images/I/81Vs371KLML._AC_UY327_FMwebp_QL65_.jpg" alt="tabs" class="img-responsive">
                    <div class="caption">
                        <h3>Samsung Galaxy Tab S8</h3>
                        <p>Price<b></b>Rs 58,999</p>
                        <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                        <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                        class="btn btn-block btn-success">Add to cart</a>       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="thumbnail">
                    <img src="https://m.media-amazon.com/images/I/313+pNWvZoL._SY300_SX300_.jpg" alt="tabs" class="img-responsive">
                    <div class="caption">
                        <h3>Realme Pad WiFi + 4G Android Tablet</h3>
                        <p><b>Price</b> Rs 17,999 </p>
                        <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                        <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                        class="btn btn-block btn-success">Add to cart</a>       
                    </div>
                </div>
            </div>
            <div class="s2"></div>
            <div>
                <h2 style = 'color:black;'>LAPTOPS</h2></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://m.media-amazon.com/images/I/81RHHnGydgL._SX679_.jpg" alt="Laptops" class="img-responsive">
                        <div class="caption">
                            <h3>Mi Notebook Ultra</h3>
                            <p><b>Price</b>Rs 71,999</p>
                            <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                            <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                            class="btn btn-block btn-success">Add to cart</a>       
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://m.media-amazon.com/images/I/61ta6vDkCRL._SX679_.jpg" alt="tabs" class="img-responsive">
                        <div class="caption">
                            <h3>Lenovo IdeaPad Flex 5</h3>
                            <p><b>Price</b>Rs 79,690</p>
                            <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                            <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                            class="btn btn-block btn-success">Add to cart</a>       
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://images-eu.ssl-images-amazon.com/images/I/415EZD5J1QL._SX300_SY300_QL70_FMwebp_.jpg" alt="tabs" class="img-responsive">
                        <div class="caption">
                            <h3>Dell New G15 5511</h3>
                            <p>Price<b></b>Rs 96,000</p>
                            <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                            <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                            class="btn btn-block btn-success">Add to cart</a>       
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="thumbnail">
                        <img src="https://images-eu.ssl-images-amazon.com/images/I/41imd1CGJcL._SX300_SY300_QL70_FMwebp_.jpg" alt="tabs" class="img-responsive">
                        <div class="caption">
                            <h3>ASUS Vivobook S15 OLED (2022)</h3>
                            <p><b>Price</b>Rs 98,990</p>
                            <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                            <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                            class="btn btn-block btn-success">Add to cart</a>       
                        </div>
                    </div>
                </div>
                <div class="s3"></div>
                <div>
                    <h2 style = 'color:black;'>ACCESSORIES</h2></div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="https://m.media-amazon.com/images/I/61sCL37xvlL._SX679_.jpg" alt="Accessories" class="img-responsive">
                            <div class="caption">
                                <h3>ELV Car Mount Adjustable Car Phone Holder</h3>
                                <p><b>Price</b> Rs 349</p>
                                <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                                <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                                class="btn btn-block btn-success">Add to cart</a>       
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="https://m.media-amazon.com/images/I/614DbY9tQsL._SX679_.jpg" alt="Accessories" class="img-responsive">
                            <div class="caption">
                                <h3>HP Z3700 Wireless Mouse/2.4GHz Wireless Connection</h3>
                                <p><b>Price</b>Rs 1499</p>
                                <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                                <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                                class="btn btn-block btn-success">Add to cart</a>       
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="https://m.media-amazon.com/images/I/6118YQPQZlL._SL1500_.jpg" alt="Accessories" class="img-responsive">
                            <div class="caption">
                                <h3>Amozo Back Cover Case for iPhone 13 (Polycarbonate|Transparent)</h3>
                                <p>Price<b></b>Rs 499</p>
                                <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                                <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                                class="btn btn-block btn-success">Add to cart</a>       
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail">
                            <img src="https://m.media-amazon.com/images/I/81pAOJFcsFS._SX679_.jpg" alt="tabs" class="img-responsive">
                            <div class="caption">
                                <h3>Seagate Expansion 1TB External HDD</h3>
                                <p><b>Price</b> Rs 4,999</p>
                                <p><a href="#" role="button" class="btn btn-primary btn-block" [routerLink]="['/delivery']">Buy Now</a></p>
                                <a method="GET" href="#" name="add" value="add" [routerLink]="['/orders']"
                                class="btn btn-block btn-success">Add to cart</a>       
                            </div>
                        </div>
                    </div>
                  <div class="s4"></div>     
</div>

<div>
    <footer class="footer">
      <div class="container">
         </div>
         <div class="row justify-content-center">             
              <div class="col-auto">
                  <p>© Copyright 2022 E-Stores</p>
              </div>
         </div>
  </footer>
  </div>
          